<% videos.each do |video| %>
  <div id="video_<%= video.id %>" class="group relative flex flex-col overflow-hidden rounded-lg border border-gray-200 bg-white shadow-lg">
    <div class="aspect-w-6 aspect-h-4 bg-gray-200 group-hover:opacity-75 sm:aspect-none sm:h-46">
      <%= link_to youtube_url(video.youtube_video_id), target: '_blank' do %>
        <img src="<%= video.thumbnails.with_indifferent_access[:high][:url] %>" alt="" class="h-full w-full object-cover object-center sm:h-full sm:w-full">
      <% end %>
    </div>
    <div class="flex flex-1 flex-col space-y-2 p-4">
      <h2 class="text-base font-bold text-gray-900">
        <%= video.channel_name %>
      </h2>
      <%= link_to youtube_url(video.youtube_video_id), target: '_blank' do %>
        <h3 class="text-sm font-medium text-gray-900">
          <%= video.title %>
        </h3>
      <% end %>
      <h3>Shared by: <%= video.creator.email %></h3>

      <p class="text-sm text-gray-800"><%= video.description[0..200] %>...</p>
    </div>
  </div>
<% end %>
