<% if user_signed_in? %>
  <div class="form-control">
    <button class="btn btn-primary" data-controller="turbo-fetch" data-url="<%= new_video_path %>">Share Video</button>
  </div>

  <div id="notify-list" class="form-control">
    <%= render NotificationListComponent.new %>
  </div>

  <div class="dropdown dropdown-end">
    <label tabindex="0" class="btn btn-ghost btn-circle avatar">
      <div class="w-10 rounded-full">
        <img src="https://t4.ftcdn.net/jpg/04/08/24/43/360_F_408244382_Ex6k7k8XYzTbiXLNJgIL8gssebpLLBZQ.jpg" />
      </div>
    </label>
    <ul tabindex="0" class="mt-3 p-2 drop-shadow-2xl menu menu-compact dropdown-content bg-base-100 rounded-box w-52">
      <li>
        <a href="#"><%= current_user.email %></a>
      </li>
      <li>
        <%= link_to 'Logout', destroy_user_session_path, data: { turbo_method: :delete } %>
      </li>
    </ul>
  </div>

<% else %>
  <div class="flex justify-center items-center gap-4">
    <%= form_for User.new, url: user_session_path, method: :post do |f| %>
      <div class="flex justify-center items-center gap-4">
        <%= f.email_field :email, class: 'input w-full max-w-xs border', placeholder: 'Email' %>
        <%= f.password_field :password, class: 'input w-full max-w-xs border', placeholder: 'Password' %>
        <%= f.submit 'Login', class: 'btn btn-primary' %>
      </div>
    <% end %>
    <%= link_to 'Register', new_user_registration_path, class: 'btn' %>
  </div>
<% end %>
