<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body>
    <%= turbo_stream_from user_signed_in?, :videos %>
    <%= turbo_stream_from user_signed_in?, :reactions %>
    <div id="notifications"></div>
    <main class="container mx-auto">
      <div class="navbar bg-base-100">
        <div class="flex-1">
          <%= link_to root_path, class: 'font-semibold cursor-pointer normal-case text-xl' do %>
            Youtube Sharing Video
          <% end %>
        </div>
        <div class="flex-none gap-2">
          <%= render 'layouts/user_actions' %>
        </div>
      </div>
      <%= yield %>
      <div id="modal" class="modal"></div>
    </main>
  </body>
</html>
